table {
    background-color: chartreuse;
}
body {
    background-color:#ff006e;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
@media (min-width: 560px) {
    body {
        background-color:orange;
    }
    table {
        box-sizing: border-box;
        overflow: hidden;
        background-color: yellow;
        border-collapse: collapse;
        border: solid;
        min-width: 23em; width: 70%; max-width: 56em;
        border-radius: .5em;
        box-shadow: 0 0 .5em #000;
        text-align: center;
        padding:2cm;
      }
       
      
      th { text-align: left; }
       
     
    
}
   
   
   
    h1 {
        color:#662e9b;
     
    }


@media (min-width: 960px) {
    body {
        background-color:#ff006e;
    }
    table {
        
        background-color:chartreuse;
        border-collapse: collapse;
        overflow: hidden;
        
  
  
      
        border: solid;
        min-width: 23em; width: 70%; max-width: 56em;
        border-radius: .5em;
        box-shadow: 0 0 .5em #000;
      
       
      }
    }
       
      
       
     th, td {
        
         padding:0.055em;
     }

.btn {
    background-color:#f4978e;
}
.Btn {
    background-color:green;
}

.dark {
    width:15%;
    font-size: 15px; 
    background-color:#f4978e;
   
   
    
}
.dest {
background-color: #662e9b;
}