table {
    background-color: chartreuse;
}
body {
    background-color:#ff006e;
    font-family: cursive;
}
@media (min-width: 560px) {
    body {
        background-color: #03071e;
    }
    table {
        box-sizing: border-box;
        overflow: hidden;
        background-color: yellow;
        border-collapse: collapse;
        border: solid;
        min-width: 23em; width: 70%; max-width: 56em;
        border-radius: .5em;
        box-shadow: 0 0 .5em #000;
      }
       
      thead {
        background: linear-gradient(#606062, #28262b);
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
      }
       
      th { text-align: left; }
       
     
    
}
   
   
   
    h1 {
        color:#662e9b;
    }


@media (min-width: 960px) {
    body {
        background-color:#ff006e;
    }
    table {
        box-sizing: border-box;
        overflow: hidden;
        background-color:chartreuse;
        border-collapse: collapse;
        min-width: 23em; width: 70%; max-width: 56em;
        border-radius: .5em;
        box-shadow: 0 0 .5em #000;
      }
       
      thead {
        background: linear-gradient(#606062, #28262b);
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
      }
       
      th { text-align: left; }
       
     
    
}

.btn {
    background-color:#f4978e;
}
.Btn {
    background-color:green;
}
